.home-page{
    margin-top: 3rem;
}
.home-page .welcome-title{
    margin: 0;
    font-size: 10rem;
}
.home-page .welcome-text{
    font-size: 1.5rem;
    color:white;
    background-color: rgba(0,0,0,0.2);
}

.home-page .homepage-button-wrapper{
    display:flex;
    justify-content: space-between;
}
.home-page .homepage-button{
    font-size: 1.5rem;
    height: 30%;
    width: 40%;
    margin: auto;
    border-radius: 15px;
}

.home-page .homepage-button:hover {
    font-weight: bold;
    cursor: pointer;
}