.home-page{
    background-image : url("../HomePage/Assets/yosemite.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.welcome{
    /* margin-bottom: 20rem; */
}
.home-page .welcome-title{
    margin: 0;
    font-size: 10rem;
}
.home-page .welcome-text{
    font-size: 1.5rem;
    color:white;
    background-color: rgba(0,0,0,0.5);
}

.home-page .homepage-button-wrapper{
    display:flex;
    align-items:center;
    justify-content: space-evenly;

}
.home-page .homepage-button-wrapper .homepage-button{
    font-size: 1.5rem;
    border-radius: 15px;
    width: 20rem;
}
.button-container{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    margin-bottom: 1rem;

}
.button-container p{
    font-size: 1.5rem;
    color:white
}

/* highlighted parks section styling  */
.gallery{
    max-width: 100%;
    /* margin: 15.4rem auto; */
    background-color: rgba(0,0,0,0.5);
    display:flex;
    align-items:center;
    justify-content: center;
    padding-right: 2rem;
}
.gallery h1{
    text-align: center;
    font-size: 5rem;
    color: white;
}
.slider{
    width: 80%;
    min-height:50vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.slider .slide{
    padding: 1rem;
    box-sizing: border-box;
    min-height:50vh;
}
.slider img{
    height: 50vh;
}

.slide h2{
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots{
    bottom: 13px;
}
.slider .slick-dots li button:before{
    color: white;
    font-size: 10px;
    line-height: 50px;
}
.slider .slick-dots li.slick-active button:before{
    color: #a67e46
}
/* .slider .slick-prev:before, .slider .slick-next:before {
    color:#a67e46;
} */