body{
    margin: 0;
    padding: 0;
    background-color: rgb(155, 184, 160);
    background-image: none;
    color: rgb(19, 35, 19);
    /*width: 100%; height: 100%; min-height:100vh;
    display: flex; flex-direction: column;*/
}

.main-component{
    /* makes sure elements are not hidden under the navbar */
    margin-top: 3rem;
}

.rc-footer-container .rc-footer-columns .rc-footer-column h2{
    z-index: -2;
  }