
.nav-bar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #3a4937;
    top: 0;
    width: 100%;
    position:fixed;
    z-index: 1;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-bar ul li{
    font-size: 1.5rem;
    &:hover{
        background-color:#a67e46
    }
}

.nav-bar ul li a{
    display:block;
    color:white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.nav-bar .header{

    &:hover{
        background-color: #3a4937;
    }
}

.nav-bar img{
    width: 50px;
    height: auto;
}

.nav-bar .tree-img{
    flex-grow: 2;
    display:flex;
    align-items: center;
    justify-content: center;
    &:hover{
        background-color: #3a4937;
    }

}
