
.park-search{
    background-image : url("../HomePage/Assets/glacier.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.85;
    background-color: rgba(0, 0, 0, 0.5);

}

.park-search-welcome {
    position:relative;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.park-search-welcome #search-title{
    position: relative;
    padding: 4rem;
    color: black;

}
.park-search-welcome .search-about{
    /* put it in a box */
    padding: 5rem;

    padding-left: 10rem;
    padding-right: 10rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    /* background-color: rgba(19, 35, 19, 0.9); */
    color: black;
    font-size: 2rem;

}

.park-search .activities-list{
    /* padding-top: 5rem; */
    margin-top: 5rem;
}

.park-search .activities-list .activity-dropdown{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.park-search .activities-list .search-button-wrapper {
    display: flex;
    justify-content: center;
}

.park-search .activities-list .search-button-grid {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.park-search .activities-list .search-button {
    width: 10rem;
    height: 4rem;
    border-radius: 10px;
    margin-bottom: 3rem;
}


