/* Responds to the ParkInfo.jsx component */

.park-info-button{
    width: 50%;
    font-size: 1.5rem;
    margin: auto;
    border-radius: 15px;
}

.park-info-button:hover {
    background: white;
    font-weight: bold;
    cursor: pointer;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

img{
    width: 100%;
}

.top-padding-info {
    padding-top: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.parkInfo{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /*opacity: 0.85;*/
    background-color: rgba(0, 0, 0, 0.5);
    /*margin-top: 2.5rem;*/
}

.park-info-welcome {
    position:relative;
    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 100%, rgba(255,255,255,1) 0%);
}

.park-info-welcome #park-info-title {
    position: relative;
    padding: 5rem;
    color: black;
    text-align: center;
}

.park-info-welcome #info-title{
    position: relative;
    padding-top: 5rem;
    color: black;
    font-size: 4rem;
}

.box-1{
    display: flex;
    width: 80%;
}

.hours{
    width: 40%;
    margin: 2rem;
    padding: 0.5rem;
    flex: 1;
    border-style: outset;
    background-color: rgba(255,255,255,0.8);
}

.hours .hours-list {
    list-style-type: none;
}

.parkInfo .activities-list{
    margin-left: auto;
    margin-right: auto;
    /* width: 30%; */
    /*min-width: 500px;*/
    display: flex;
    flex-wrap: wrap;
}

.parkInfo .activity{
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    border-style: outset;
    text-align: center;
    font-weight: bold;
}


.parkDetail{
    padding: 10px 10px 10px 10px;
    /*max-inline-size: 100px;*/
   
    display: block;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}

.parkInfo .post-card{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.5);
    width: 30%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-style: solid;
}

.learn-more-name{
    font-weight: bold;
}

.park-info-link:link {
    color: black;
    text-decoration: none;
}

.park-info-link:visited {
    color: black;
    text-decoration: none;
}

.parkInfo .parks{
    margin-left: auto;
    margin-right: auto;
    /* width: 30%; */
    border-style: dotted;
    /*min-width: 500px;*/

    display: flex;
    flex-wrap: wrap;
}

.parkInfo #activitiesDropdown{
    color: black;
}

.all-parks-info-welcome {
    position:relative;
    padding: 3rem;
    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 100%, rgba(255,255,255,1) 0%);
}

