/* Responds to the ParkInfo.jsx component */

button{
    width: 50%;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

img{
    width: 100%;
}

.parkInfo{
    padding: 10px 10px 10px 10px;
    /*max-inline-size: 100px;*/
   
    display: block;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.parkDetail{
    padding: 10px 10px 10px 10px;
    /*max-inline-size: 100px;*/
   
    display: block;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.parkInfo .post-card{
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-style: solid;
}



.parkInfo .parks{
    margin-left: auto;
    margin-right: auto;
    /* width: 30%; */
    border-style: dotted;
    /*min-width: 500px;*/

    display: flex;
    flex-wrap: wrap;
}

.parkInfo #activitiesDropdown{
    color: black;
}

