.video-container {
    position: relative;
    width: 26rem;
    height: 15rem;
    overflow: hidden;
  }
  
  .video-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .play-icon {
    font-size: 1.5rem;
    color: #fff;
  }
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
  }
  